body {
    margin: 0 auto;
}
.header {
    position: relative;
    height: 400px;
    width: 100%;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
}
.header .pres {
    position: absolute;
    top: 66%;
    color: rgba(0, 0, 0, 0.801);
    padding: 4% 4% 4% 4%;
    margin-left: 18%;
    background: rgb(255, 255, 255);
    max-width: 70%;
    box-shadow: 0px 22px 20px -25px rgba(0, 0, 0, 0.486);
}
.header .pres h2 {
    font-family: 'Open Sans Medium';
    font-size: 24px;
}
.header .pres p {
    margin-top: 5%;
    margin-bottom: 8%;
    font-family: 'Open Sans Light';
    font-size: 16px;
}
.header .pres a {
    text-decoration: none;
    background: #F8990C;
    margin-top: 4%;
    text-align: center;
    padding: 2% 8% 2% 8%;
    font-family: 'Open Sans Medium';
    color: white;
    font-size: 16px;
    transition: 500ms ease;
}
.header .pres a:hover {
    background: white;
    border: 2px solid #F8990C;
    color: #F8990C;
    outline: none;
    text-decoration: none;
}
.main-content {
    position: relative;
    margin-top: 28%;
}
.main-content .sk-ww-twitter-hashtag-feed {
    position: relative;
    height: 80%!important;
    background: transparent;
}
.main-content .news {
    padding: 4% 4% 4% 4%;
    height: 80%;
    position: relative;
    background: rgb(248, 248, 248);
}
.main-content .news h2 {
    text-align: center;
    font-family: 'Open Sans Medium';
    color: rgba(0, 0, 0, 0.808);
    font-size: 22px;
}
.main-content .news .articles {
    margin-top: 6%;
}
.main-content .news .articles hr {
    background: rgba(0, 0, 0, 0.479);
    height: 0.2px;
}
.main-content .news .articles .item{
    margin-bottom: 6%;
}
.main-content .news .articles a {
    font-family: 'Open Sans Medium';
    font-size: 16px;
    color: #F8990C;
}
.main-content .news .articles i {
    font-family: 'Open Sans Light';
    font-size: 14px;
    color: rgba(0, 0, 0, 0.808);
}
.main-content .row-2 {
    position: relative;
}
.main-content .info {
    padding: 4% 4% 4% 4%;
    border-right: solid 4px white;
    background: rgb(248, 248, 248);
}
.main-content .info h2 {
    text-align: left;
    margin-bottom: 6%;;
    font-family: 'Open Sans Medium';
    color: rgba(0, 0, 0, 0.808);
    font-size: 22px;
}
.main-content .info .social {
    position: relative;
    display: inline;
}
.main-content .info .social img {
    max-height: 50px;
    padding-right: 4%;;
}
.main-content .urgence {
    padding: 4% 4% 4% 4%;
    background: rgb(248, 248, 248);
}
.main-content .urgence h2 {
    text-align: left;
    font-family: 'Open Sans Medium';
    color: rgba(0, 0, 0, 0.808);
    font-size: 22px;
}

